In [1]:
import pandas as pd

In [16]:
all_data_df = pd.read_pickle('../dump/all_data')

In [17]:
all_data_df

,movie_title,rating,vote,certificate,genre,release_date,metascore,keywords,budget,opening_weekend_usa,...,book_title,author,rating_value,rating_count,review_count,page,year,title,book_popularity,author_popularity
0,After We Collided,5.0,16193,R,"[Drama, Romance]",2020-10-23,NaN,"[sequel, birthday, boyfriend girlfriend sex, b...",NaN,422899.0,...,After We Collided,Anna Todd,3.78,92534.0,5490.0,674.0,2013.0,After We Collided,0.00,0.2159
1,The Godfather,9.2,1613156,R,"[Crime, Drama]",1972-03-24,100.0,"[crime family, mafia, patriarch, organized cri...",6000000.0,302393.0,...,The Godfather,Mario Puzo,4.36,343457.0,8930.0,448.0,1969.0,The Godfather,0.16,0.0699
2,Harry Potter and the Sorcerer's Stone,7.6,654081,PG,"[Adventure, Family, Fantasy]",2001-11-16,64.0,"[magic, wizard, school of magic, based on nove...",125000000.0,90294621.0,...,Harry Potter and the Sorcerer's Stone,J.K. Rowling,4.48,7292896.0,115556.0,309.0,1997.0,Harry Potter and the Sorcerer's Stone,0.14,0.0149
3,Harry Potter and the Sorcerer's Stone,7.6,654081,PG,"[Adventure, Family, Fantasy]",2001-11-16,64.0,"[magic, wizard, school of magic, based on nove...",125000000.0,90294621.0,...,Harry Potter and the Sorcerer's Stone,J.K. Rowling,4.48,7297366.0,115643.0,309.0,1997.0,Harry Potter and the Sorcerer's Stone,0.14,0.0149
4,Little Women,7.8,140641,PG,"[Drama, Romance]",2019-12-25,91.0,"[aspiring writer, poverty, women's rights, dea...",40000000.0,16755310.0,...,Little Women,Louisa May Alcott,4.09,1717984.0,31224.0,449.0,1868.0,Little Women,0.00,0.0151
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1570,The Wayward Bus,6.7,455,Not,[Drama],1957-05-27,NaN,"[psychotronic film, bus, cafe, roadtrip, road ...",NaN,NaN,...,The Wayward Bus,John Steinbeck,3.85,9311.0,650.0,261.0,1947.0,The Wayward Bus,0.00,0.0176
1571,From the Terrace,6.7,2438,Passed,"[Drama, Romance]",1960-09-09,NaN,"[mother son relationship, wilmington delaware,...",NaN,NaN,...,From the Terrace,John O'Hara,3.92,409.0,33.0,981.0,1958.0,From the Terrace,0.00,0.0418
1572,Anne of Green Gables,7.0,1113,Passed,"[Comedy, Drama, Family]",1934-11-23,NaN,"[character name as title, anne of green gables...",226000.0,NaN,...,Anne of Green Gables,L.M. Montgomery,4.26,750685.0,23957.0,320.0,1908.0,Anne of Green Gables,0.05,0.0314
1573,Odds Against Tomorrow,7.4,3780,Approved,"[Crime, Drama, Thriller]",1959-11-01,NaN,"[new york city, heist, bank robbery, caper, ne...",NaN,NaN,...,Odds Against Tomorrow,Nathaniel Rich,3.39,2242.0,307.0,304.0,2013.0,Odds Against Tomorrow,0.00,0.0180
1574,Once Is Not Enough,4.6,629,R,"[Drama, Romance]",1975-06-20,NaN,"[older man younger woman relationship, age dif...",NaN,NaN,...,Once Is Not Enough,Jacqueline Susann,3.72,7769.0,184.0,467.0,1973.0,Once Is Not Enough,0.20,0.0201

In [18]:
all_df = all_data_df.drop(columns=['vote','metascore','keywords',\
                                   'link_d','link_w',\
                                   'book_title','rating_value','rating_count','review_count','title']).\
                    drop_duplicates(subset=['movie_title','director'])
all_df.rename(columns = {'certificate':'MPAA','star':'actor','year':'publish_year'},inplace=True)

In [19]:
all_df = all_df.dropna().reset_index()

In [20]:
all_df.shape

(585, 23)

In [24]:
# Create list of actor/link from the 500 movies
star_list = []
for star in all_df.actor:
    star_list += star
star_df = pd.DataFrame(star_list)

star_link_list = []
for star_link in all_df.link_s:
    star_link_list += star_link
star_link_df = pd.DataFrame(star_link_list)

# Combine in to one df
star_df['link_s'] = star_link_df
star_df.columns = ['star','link_s']
star_df = star_df.drop_duplicates(subset=['star'])

1048