In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import OneHotEncoder
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## 1. Load raw combined data

In [2]:
# Load movie+book data
import pandas as pd
all_data_df = pd.read_pickle('../dump/all_ab_df')

In [3]:
all_data_df.shape

(1812, 35)

In [4]:
all_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1812 entries, 0 to 1811
Data columns (total 35 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   movie_title          1812 non-null   object
 1   rating               1812 non-null   float64
 2   vote                 1812 non-null   int64
 3   certificate          1812 non-null   object
 4   genre                1812 non-null   object
 5   release_date         1812 non-null   datetime64[ns]
 6   metascore            686 non-null    float64
 7   keywords             1812 non-null   object
 8   budget               1312 non-null   float64
 9   opening_weekend_usa  1091 non-null   float64
 10  gross_usa            1238 non-null   float64
 11  gross_world          1327 non-null   float64
 12  runtime              1791 non-null   float64
 13  director             1812 non-null   object
 14  link_d               1812 non-null   object
 15  writer               1812 non-null   object
 16  link_w               1812 non-null   object
 17  star                 1812 non-null   object
 18  link_s               1812 non-null   object
 19  distributor          1803 non-null   object
 20  language             1812 non-null   object
 21  country              1812 non-null   object
 22  book_title           1812 non-null   object
 23  author               1812 non-null   object
 24  rating_value         1812 non-null   float64
 25  rating_count         1812 non-null   float64
 26  review_count         1812 non-null   float64
 27  page                 1774 non-null   float64
 28  year                 1808 non-null   float64
 29  title                1812 non-null   object
 30  book_popularity      1812 non-null   float64
 31  author_popularity    1812 non-null   float64
 32  years                1812 non-null   object
 33  release_year         1812 non-null   int64
 34  count_a              1812 non-null   int64
dtypes: datetime64[ns](1), float64(14), int64(3), object(17)
memory usage: 509.6+ KB

In [5]:
all_df = all_data_df.drop(columns=['vote','metascore','keywords',\
                                   'link_d','link_s','link_w',\
                                   'book_title','years']).\
                    drop_duplicates(subset=['movie_title','director'])
all_df.rename(columns = {'certificate':'MPAA','star':'actor','year':'publish_year',\
                        'rating_value':'rating_value_b','rating_count':'rating_count_b','review_count':'review_count_b'},\
              inplace=True)

In [6]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1135 entries, 0 to 1811
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   movie_title          1135 non-null   object
 1   rating               1135 non-null   float64
 2   MPAA                 1135 non-null   object
 3   genre                1135 non-null   object
 4   release_date         1135 non-null   datetime64[ns]
 5   budget               830 non-null    float64
 6   opening_weekend_usa  713 non-null    float64
 7   gross_usa            790 non-null    float64
 8   gross_world          842 non-null    float64
 9   runtime              1124 non-null   float64
 10  director             1135 non-null   object
 11  writer               1135 non-null   object
 12  actor                1135 non-null   object
 13  distributor          1133 non-null   object
 14  language             1135 non-null   object
 15  country              1135 non-null   object
 16  author               1135 non-null   object
 17  rating_value_b       1135 non-null   float64
 18  rating_count_b       1135 non-null   float64
 19  review_count_b       1135 non-null   float64
 20  page                 1106 non-null   float64
 21  publish_year         1131 non-null   float64
 22  title                1135 non-null   object
 23  book_popularity      1135 non-null   float64
 24  author_popularity    1135 non-null   float64
 25  release_year         1135 non-null   int64
 26  count_a              1135 non-null   int64
dtypes: datetime64[ns](1), float64(13), int64(2), object(11)
memory usage: 248.3+ KB

In [7]:
cat_feature = ['MPAA','genre','distributor','language','country']
con_feature = ['budget','runtime','release_year','publish_year','page','book_popularity','author_popularity','count_a']

In [8]:
all_df = all_df.dropna(subset=['gross_usa','gross_world','opening_weekend_usa','budget']).reset_index()

In [9]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596 entries, 0 to 595
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                596 non-null    int64
 1   movie_title          596 non-null    object
 2   rating               596 non-null    float64
 3   MPAA                 596 non-null    object
 4   genre                596 non-null    object
 5   release_date         596 non-null    datetime64[ns]
 6   budget               596 non-null    float64
 7   opening_weekend_usa  596 non-null    float64
 8   gross_usa            596 non-null    float64
 9   gross_world          596 non-null    float64
 10  runtime              592 non-null    float64
 11  director             596 non-null    object
 12  writer               596 non-null    object
 13  actor                596 non-null    object
 14  distributor          596 non-null    object
 15  language             596 non-null    object
 16  country              596 non-null    object
 17  author               596 non-null    object
 18  rating_value_b       596 non-null    float64
 19  rating_count_b       596 non-null    float64
 20  review_count_b       596 non-null    float64
 21  page                 585 non-null    float64
 22  publish_year         595 non-null    float64
 23  title                596 non-null    object
 24  book_popularity      596 non-null    float64
 25  author_popularity    596 non-null    float64
 26  release_year         596 non-null    int64
 27  count_a              596 non-null    int64
dtypes: datetime64[ns](1), float64(13), int64(3), object(11)
memory usage: 130.5+ KB

In [10]:
all_df.head()

,index,movie_title,rating,MPAA,genre,release_date,budget,opening_weekend_usa,gross_usa,gross_world,...,rating_value_b,rating_count_b,review_count_b,page,publish_year,title,book_popularity,author_popularity,release_year,count_a
0,1,The Godfather,9.2,R,"[Crime, Drama]",1972-03-24,6000000.0,302393.0,134966411.0,2.461210e+08,...,4.36,343457.0,8930.0,448.0,1969.0,The Godfather,0.16,0.0699,1972,1
1,2,Harry Potter and the Sorcerer's Stone,7.6,PG,"[Adventure, Family, Fantasy]",2001-11-16,125000000.0,90294621.0,318087620.0,1.006918e+09,...,4.48,7292896.0,115556.0,309.0,1997.0,Harry Potter and the Sorcerer's Stone,0.14,0.0149,2001,4
2,4,Little Women,7.8,PG,"[Drama, Romance]",2019-12-25,40000000.0,16755310.0,108101214.0,2.166012e+08,...,4.09,1717984.0,31224.0,449.0,1868.0,Little Women,0.00,0.0151,2019,0
3,8,Little Women,7.3,PG,"[Drama, Family, Romance]",1994-12-25,18000000.0,2411247.0,50083616.0,5.008362e+07,...,4.09,1717984.0,31224.0,449.0,1868.0,Little Women,0.00,0.0151,1994,0
4,20,Ready Player One,7.5,PG-13,"[Action, Adventure, Sci-Fi]",2018-03-29,175000000.0,41764050.0,137690172.0,5.828937e+08,...,4.25,898280.0,88779.0,374.0,2011.0,Ready Player One,0.00,0.0012,2018,2

In [11]:
all_data_df.shape

(1812, 35)

In [12]:
all_df.shape

(596, 28)

In [13]:
all_df.to_pickle('../dump/all_df')

In [14]:
all_df.columns

Index(['index', 'movie_title', 'rating', 'MPAA', 'genre', 'release_date',
       'budget', 'opening_weekend_usa', 'gross_usa', 'gross_world', 'runtime',
       'director', 'writer', 'actor', 'distributor', 'language', 'country',
       'author', 'rating_value_b', 'rating_count_b', 'review_count_b', 'page',
       'publish_year', 'title', 'book_popularity', 'author_popularity',
       'release_year', 'count_a'],
      dtype='object')

## 2. Collect more features

### (1) release time of the movie

In [15]:
# Divide release_date into year, month, day of week
all_df['release_year'] = all_df['release_date'].dt.year
all_df['release_month'] = all_df['release_date'].dt.month
all_df['dow'] = all_df['release_date'].dt.weekday

### (2) director value

In [16]:
# Find corresponding value of each director when movie is released
# ['avg_rating','avg_gross'] (per movie directed)
director_df = pd.read_pickle('../dump/director_data')

In [17]:
# Find the mean rating, gross of all directors
director_rating_mean = int(director_df.rating.mean())
director_gross_mean = int(director_df.gross_usa.mean())

director_rating_mean, director_gross_mean

(6, 32634196)

In [18]:
def director_value(movie):
    """
    input: movie (each row in all_data_df)
    output: 
        - film_count: number of movies directed before the movie of interest
        - avg_rating: average rating of movies directed before the movie of interest
        - avg_gross: gross per movie before the movie of interest
    """
    
    movie_title = movie.movie_title
    director = movie.director
    year = movie.release_date

    headers = ['movie_title','director','film_count_d','avg_rating_d','avg_gross_d']
    
    # Assign default values
    film_count,avg_rating,avg_gross = 0, director_rating_mean, director_gross_mean
    
    doi_df = director_df[(director_df.director == director) & (director_df.year < year)]
    
    # Fill NaN with director's mean
    doi_df[['rating','gross_usa']].apply(lambda x: x.fillna(x.mean(),axis=0))
    
    # If there's still NaN, fill with all directors' mean
    doi_df[['rating']] = doi_df[['rating']].apply(lambda x: x.fillna(director_rating_mean,axis=0))
    doi_df[['gross_usa']] = doi_df[['gross_usa']].apply(lambda x: x.fillna(director_gross_mean,axis=0))
    
   
    if doi_df.shape[0] == 0:
        film_count,avg_rating,avg_gross = 0, director_rating_mean, director_gross_mean
    else:
        
    
    
        film_count = doi_df.shape[0]

        
        avg_rating = doi_df['rating'].mean()
        if avg_rating == np.nan:
            avg_rating = director_rating_mean

        try:
            avg_gross = int(doi_df['gross_usa'].mean())
        except ValueError:
            avg_gross = director_gross_mean
        
    
    director_value = dict(zip(headers, [movie_title,director,film_count,avg_rating,avg_gross]))
    
    return director_value

In [19]:
# Create df including columns of director film_count, avg_rating, avg_gross
# Rows correspond to rows in all_df
movie_director_df = all_df.dropna().apply(director_value,axis=1).apply(pd.Series)

In [20]:
movie_director_df

,movie_title,director,film_count_d,avg_rating_d,avg_gross_d
0,The Godfather,Francis Ford Coppola,7,5.285714,32634196
1,Harry Potter and the Sorcerer's Stone,Chris Columbus,9,6.622222,106588545
2,Little Women,Greta Gerwig,2,6.700000,24481851
3,Little Women,Gillian Armstrong,11,6.663636,24220795
4,Ready Player One,Steven Spielberg,34,7.202941,132444136
...,...,...,...,...,...
591,Never Die Alone,Ernest R. Dickerson,7,6.157143,20446469
592,Radio Free Albemuth,John Alan Simon,0,6.000000,32634196
593,The Golden Bowl,James Ivory,23,6.317391,18103663
594,The Good Mother,Leonard Nimoy,3,6.700000,117988379
595,Finders Keepers,Richard Lester,22,6.481818,34423133

In [21]:
# Merge all_df and director value
all_d_df = pd.merge(all_df, movie_director_df, left_index=True, right_index=True ,how='left')

In [22]:
# Merge all_df and director value
all_d_df = pd.merge(all_df, movie_director_df, on=['movie_title','director'] ,how='left')

In [23]:
all_d_df

,index,movie_title,rating,MPAA,genre,release_date,budget,opening_weekend_usa,gross_usa,gross_world,...,title,book_popularity,author_popularity,release_year,count_a,release_month,dow,film_count_d,avg_rating_d,avg_gross_d
0,1,The Godfather,9.2,R,"[Crime, Drama]",1972-03-24,6000000.0,302393.0,134966411.0,2.461210e+08,...,The Godfather,0.16,0.0699,1972,1,3,4,7.0,5.285714,32634196.0
1,2,Harry Potter and the Sorcerer's Stone,7.6,PG,"[Adventure, Family, Fantasy]",2001-11-16,125000000.0,90294621.0,318087620.0,1.006918e+09,...,Harry Potter and the Sorcerer's Stone,0.14,0.0149,2001,4,11,4,9.0,6.622222,106588545.0
2,4,Little Women,7.8,PG,"[Drama, Romance]",2019-12-25,40000000.0,16755310.0,108101214.0,2.166012e+08,...,Little Women,0.00,0.0151,2019,0,12,2,2.0,6.700000,24481851.0
3,8,Little Women,7.3,PG,"[Drama, Family, Romance]",1994-12-25,18000000.0,2411247.0,50083616.0,5.008362e+07,...,Little Women,0.00,0.0151,1994,0,12,6,11.0,6.663636,24220795.0
4,20,Ready Player One,7.5,PG-13,"[Action, Adventure, Sci-Fi]",2018-03-29,175000000.0,41764050.0,137690172.0,5.828937e+08,...,Ready Player One,0.00,0.0012,2018,2,3,3,34.0,7.202941,132444136.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591,1785,Never Die Alone,5.7,R,"[Action, Crime, Drama]",2004-03-26,3000000.0,3089993.0,5645298.0,5.923000e+06,...,Never Die Alone,0.26,0.0093,2004,65,3,4,7.0,6.157143,20446469.0
592,1787,Radio Free Albemuth,5.7,R,"[Drama, Sci-Fi]",2014-06-27,3600000.0,5553.0,9365.0,9.365000e+03,...,Radio Free Albemuth,0.00,0.0039,2014,63,6,4,0.0,6.000000,32634196.0
593,1793,The Golden Bowl,5.9,R,"[Drama, Romance]",2001-05-25,15000000.0,90170.0,3050532.0,5.753678e+06,...,The Golden Bowl,0.36,0.7878,2001,0,5,4,23.0,6.317391,18103663.0
594,1803,The Good Mother,5.8,R,"[Drama, Romance]",1988-11-04,14000000.0,1804288.0,4764606.0,4.764606e+06,...,The Good Mother,1.56,0.2796,1988,2,11,4,3.0,6.700000,117988379.0
595,1804,Finders Keepers,5.5,R,[Comedy],1984-05-18,7000000.0,865207.0,1467396.0,1.467396e+06,...,Finders Keepers,0.12,0.7481,1984,11,5,4,22.0,6.481818,34423133.0

In [24]:
all_d_df.columns

Index(['index', 'movie_title', 'rating', 'MPAA', 'genre', 'release_date',
       'budget', 'opening_weekend_usa', 'gross_usa', 'gross_world', 'runtime',
       'director', 'writer', 'actor', 'distributor', 'language', 'country',
       'author', 'rating_value_b', 'rating_count_b', 'review_count_b', 'page',
       'publish_year', 'title', 'book_popularity', 'author_popularity',
       'release_year', 'count_a', 'release_month', 'dow', 'film_count_d',
       'avg_rating_d', 'avg_gross_d'],
      dtype='object')

### (3) cast (actors) value

In [25]:
# Find corresponding value of each director when movie is released
# ['avg_rating','avg_gross'] (per movie directed)
actor_df = pd.read_pickle('../dump/actor_correct_data')
actor_df.shape

FileNotFoundError: [Errno 2] No such file or directory: '../dump/actor_correct_data'

In [ ]:
actor_df.head()

In [ ]:
actor_df.director.nunique()

In [ ]:
# Find the mean rating, gross of all directors
actor_rating_mean = int(actor_df.rating.mean())
actor_gross_mean = int(actor_df.gross_usa.mean())

actor_rating_mean, actor_gross_mean

In [ ]:
def actor_value(actor,year):
    """
    input: actor name and (release) year of the movie of interest
    output: 
        - film_count: number of movies the actor was in before the movie of interest
        - avg_rating: average rating of movies the actor was in before the movie of interest
        - avg_gross: gross per movie before the movie of interest
    """
    
    aoi_df = actor_df[(actor_df.actor == actor) & (actor_df.year.dt.year < year)].copy()
    
    # Fill NaN with actor's mean
    values={'rating':aoi_df.rating.mean(), 'gross_usa':aoi_df.gross_usa.mean()}
    aoi_df.fillna(value=values,inplace=True)
    
    # If there's still NaN, fill with all actors' mean
    values={'rating':actor_rating_mean, 'gross_usa':actor_gross_mean}
    aoi_df.fillna(value=values,inplace=True)
        
    
    # If there's no movie prior to movie of interest  
    if aoi_df.shape[0] == 0:
        film_count,avg_rating,avg_gross = 0, actor_rating_mean, actor_gross_mean
        
    else:
        
        film_count = aoi_df.shape[0]
        
        avg_rating = aoi_df['rating'].mean()
        avg_gross = aoi_df['gross_usa'].mean()

        
    
    actor_value = [film_count, avg_rating, avg_gross]
    
    print(actor,actor_value)
    
    return actor_value,aoi_df

In [ ]:
def get_cast(movie):
    """
    input: movie (each row in all_data_df)
    output: 
        - film_count: number of movies directed before the movie of interest
        - avg_rating: average rating of movies directed before the movie of interest
        - avg_gross: gross per movie before the movie of interest
    """
    
    movie_title = movie.movie_title
    year = movie.release_year
    actors = movie.actor
    lead = actors[0]
    
    film_counts = []
    ratings = []
    grosses = []
    
    for actor in actors:
        result = actor_value(actor,year)
        film_counts.append(result[0])
        ratings.append(result[1])
        grosses.append(result[2])
        
    avg_film_count = np.mean(film_counts)
    avg_rating = np.mean(ratings)
    avg_gross = np.mean(grosses)    
    
    
    lead_result = actor_value(lead,year)
    

    headers = ['movie_title','cast','avg_film_count_c','avg_rating_c','avg_gross_c',\
              'avg_film_count_l','avg_rating_l','avg_gross_l']

        
    
    cast_info = dict(zip(headers, [movie_title,actors,avg_film_count,avg_rating,avg_gross,\
                                  lead_result[0],lead_result[1],lead_result[2]]))
    
    return cast_info

In [ ]:
# Create df including columns of director film_count, avg_rating, avg_gross
# Rows correspond to rows in all_df
movie_actor_df = all_df.iloc[:2].apply(get_cast,axis=1).apply(pd.Series)

In [ ]:
# Merge all_df and cast info
all_dc_df = pd.merge(all_d_df, movie_actor_df, lon=['movie_title','director'] ,how='left')

### (4) book and author popularity

In [ ]:
# Load book_history_2
book_history = pd.read_pickle('../dump/book_history_2_data_all')

In [ ]:
# book_history.sort_values('book_popularity',ascending=False)

In [ ]:
book_history.info()

In [ ]:
all_d_df.info()

In [ ]:
book_history['release_date'] = book_history['release_date'].astype('datetime64[ns]')

In [ ]:
book_history.info()

In [ ]:
np.log(book_history.title_search).hist(bins=20)

In [ ]:
np.log(book_history.search_fiction_book).hist(bins=20)

In [ ]:
np.log(book_history.author_search).hist(bins=20)

In [ ]:
np.log(book_history.search_fiction_author).hist(bins=20)

In [ ]:
all_d_df.shape, book_history.shape

In [ ]:
# Merge book data with movie df
all_da_df = pd.merge(all_d_df, book_history, left_on=['movie_title','release_date'],\
                      right_on=['title','release_date'],how='left',copy=False)

In [ ]:
all_da_df['log_book_search'] = np.log(all_da_df['title_search'])
all_da_df['log_author_search'] = np.log(all_da_df['author_search'])

In [ ]:
all_da_df.columns

In [ ]:
# all_da_df.drop(columns=['title', 'genre_y','book_popularity_x','author_popularity_x'],inplace=True)

In [ ]:
all_da_df.columns

In [ ]:
all_da_df.rename(columns = {'genre_x':'genre','book_popularity_y':'book_popularity',\
                            'author_popularity_y':'author_popularity'},inplace=True)

In [ ]:
all_da_df

In [ ]:
all_da_df.drop_duplicates(subset=['movie_title','release_date'],inplace=True)

In [ ]:
all_da_df.shape

In [ ]:
all_da_df.columns

In [ ]:
all_df = all_da_df

In [ ]:
all_df.info()

In [ ]:
all_df[all_df.search_fiction_book.isna() == True]

In [ ]:
# Fill up the four missing values
all_df.loc[38,'search_fiction_book'] = 29600
all_df.loc[95,'search_fiction_book'] = 44200
all_df.loc[533,'search_fiction_book'] = 26200
all_df.loc[665,'search_fiction_book'] = 231000

In [ ]:
# Re-evaluate book_popularity

In [ ]:
all_df['book_popularity_test'] = all_df['title_search'] / all_df['search_fiction_book']

In [ ]:
# log plot distribution looks ok
np.log(all_df['book_popularity_test']).hist()

In [ ]:
all_df['log_book_popularity'] = np.log(all_df['book_popularity_test'])

In [ ]:
# Same for author populatiry
all_df['author_popularity_test'] = all_df['author_search'] / all_df['search_fiction_author']

In [ ]:
np.log(all_df['author_popularity_test']).hist()

In [ ]:
all_df['log_author_popularity'] = np.log(all_df['author_popularity_test'])

In [ ]:
all_df.shape

In [ ]:
all_df.to_pickle('../dump/complete_data')

## 3. Simple EDA

In [ ]:
all_df.corr()

In [ ]:
# sns.heatmap(all_df.corr(), cmap="seismic", annot=True, vmin=-1, vmax=1);
sns.heatmap(all_df.corr(), cmap="seismic", vmin=-0.8, vmax=1);

In [ ]:
continuous_variables = ['opening_weekend_usa', 'gross_usa', 'gross_world','rating', \
                        'budget','runtime','release_year', 'release_month','dow',\
                        'film_count_d', 'avg_rating_d', 'avg_gross_d', \
        'page', 'publish_year','log_book_search','title_search','search_fiction_book', \
        'log_author_search','author_search', 'search_fiction_author',\
       'book_popularity', 'author_popularity']
all_df_select = all_df[continuous_variables]

In [ ]:
# sns.pairplot(all_df_select)

## 4. Clean each column
Clean the format and convert data type if necessarry for later steps.

### (1) Target variable
### (i) opening_weekend_usa

In [ ]:
# Examine the distribution. Pretty skewed.
all_df['opening_weekend_usa'].hist(bins=20)

In [ ]:
# Try log. Slightly better. Still not very normal
np.log(all_df['opening_weekend_usa']).hist(bins=20)

In [ ]:
# demonstration of the power transform on data with a skew
from numpy import exp
from numpy.random import randn
from sklearn.preprocessing import PowerTransformer
from matplotlib import pyplot as plt
# generate gaussian data sample
data = randn(1000)
# add a skew to the data distribution
data = exp(data)
# histogram of the raw data with a skew
plt.hist(data, bins=25)
plt.show()
# reshape data to have rows and columns
data = data.reshape((len(data),1))
# power transform the raw data
power = PowerTransformer(method='yeo-johnson', standardize=True)
data_trans = power.fit_transform(data)
# histogram of the transformed data
plt.hist(data_trans, bins=25)
plt.show()

In [ ]:
# Explore power transform
data = all_df[['opening_weekend_usa']]
power = PowerTransformer(method='yeo-johnson', standardize=True)
data_trans = power.fit_transform(data)
plt.hist(data_trans, bins=25)
plt.show()

In [ ]:
# Explore power transform (box-cox)
data = all_df[['opening_weekend_usa']]
power = PowerTransformer(method='box-cox', standardize=True)
data_trans = power.fit_transform(data)
plt.hist(data_trans, bins=25)
plt.show()

In [ ]:
# Seems like both log and power transform are similarr
all_df['log_owu'] = np.log(all_df['opening_weekend_usa'])

data = all_df[['opening_weekend_usa']]
power = PowerTransformer(method='box-cox', standardize=True)
data_trans = power.fit_transform(data)
all_df['log_owu'] = data_trans.reshape(len(data),)

In [ ]:
all_df.shape

### (ii) IMDb rating

In [ ]:
# Distribution looks ok. Will keep it as it is for now.
all_df['rating'].hist(bins=20)

### (2) Independent variables (predictors)
### (a) Continuous variables

#### 1. time

In [ ]:
# Movie release year
all_df['release_year'].hist(bins=20)

In [ ]:
# Convert to "how old" the movie is
(2020-all_df['release_year']).hist(bins=20)

In [ ]:
# Try power transform
data = (all_df[['release_year']].apply(lambda x: 2021 - x))
power = PowerTransformer(method='box-cox', standardize=True)
data_trans = power.fit_transform(data)
plt.hist(data_trans, bins=25)
plt.show()
# Create a new column in case needed in the futurre
all_df['T_movie_age'] = data_trans.reshape(len(data),)

In [ ]:
# Also check for book first published year
(2020-all_df['publish_year']).hist(bins=20)

In [ ]:
# Try power transform
data = (all_df[['publish_year']].apply(lambda x: 2021 - x))
power = PowerTransformer(method='box-cox', standardize=True)
data_trans = power.fit_transform(data)
plt.hist(data_trans, bins=25)
plt.show()
# Create a new column in case needed in the futurre
all_df['T_book_age'] = data_trans.reshape(len(data),)

### (b) Categorical variables - single label

### 1. MPAA rating

In [ ]:
# Find the distribution and keep only the top frequent categories
all_df.MPAA.value_counts()

In [ ]:
# Keep only the top 3
MPAA_discard = ['G','Passed','Not','X','M/PG','Approved','NC-17','Unrated']
all_df.MPAA.replace(MPAA_discard,'Other',inplace=True)

In [ ]:
all_df.MPAA.value_counts()

### 2. distributor

In [ ]:
all_df.distributor.value_counts().head(5)

In [ ]:
# Keep only the top 3
distributor_keep = ['WarnerBros.','ParamountPictures','ColumbiaPictures','UniversalPictures',\
             'TwentiethCenturyFox','TwentiethCenturyFox']
distributor_discard = list(set(all_df.distributor.unique()).difference(set(distributor_keep)))
all_df.distributor.replace(distributor_discard,'Other',inplace=True)

In [ ]:
all_df.distributor.value_counts()

### (b) Categorical variables - multi label

### 1. genre
Find the top frequent genres and convert the column from list to set in preparation for `MultiLabelBinarizer()`.

In [ ]:
# Find the top 10 genre
genre_all = []
for row in all_df.genre:
    genre_all += row
genre_count = []
for genre in set(genre_all):
    genre_count.append({'genre':genre,'count':genre_all.count(genre)})
sorted(genre_count, key = lambda i: i['count'],reverse=True)

In [ ]:
# Keep only the top 10 genre
genre_list = ['Drama','Adventure','Comedy','Action','Crime','Romance','Thriller',\
              'Mystery','Family','Fantasy']
# The rest will go to "Other"
all_df['genre']= all_df.genre.apply(lambda x:\
                            [genre if genre in genre_list else 'Other'for genre in x])
# Convert genre column from list to set
all_df['genre'] = all_df.genre.apply(lambda x: set(x))
all_df[['genre']]

### 2. language

In [ ]:
# Find the top 10 language
language_all = []
for row in all_df.language:
    language_all += row
language_count = []
for language in set(language_all):
    language_count.append({'language':language,'count':language_all.count(language)})
sorted(language_count, key = lambda i: i['count'],reverse=True)

In [ ]:
# Keep only the top 6 language
language_list = ['English','French','German','Spanish','Russian','Italian']
# The rest will go to "Other"
all_df['language']= all_df.language.apply(lambda x:\
                            [language if language in language_list else 'Other' for language in x])
# Convert genre column from list to set
all_df['language'] = all_df.language.apply(lambda x: set(x))
all_df[['language']]

### 3. country

In [ ]:
# Find the top 10 country
country_all = []
for row in all_df.country:
    country_all += row
country_count = []
for country in set(country_all):
    country_count.append({'country':country,'count':country_all.count(country)})
sorted(country_count, key = lambda i: i['count'],reverse=True)

In [ ]:
# Keep only the top 5 country
country_list = ['USA','UK','Germany','France','Canada']
# The rest will go to "Other"
all_df['country']= all_df.country.apply(lambda x:\
                            [country if country in country_list else 'Other' for country in x])
# Convert genre column from list to set
all_df['country'] = all_df.country.apply(lambda x: set(x))
all_df[['country']]

In [ ]:
# Save the cleaned all_df
all_df.to_pickle('../dump/complete_data_cleaned')