In [33]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import OneHotEncoder
import numpy as np

In [416]:
# Load movie data
import pandas as pd
all_data_df = pd.read_pickle('../dump/all_data')

In [439]:
all_data_df.head()

,movie_title,rating,vote,certificate,genre,release_date,metascore,keywords,budget,opening_weekend_usa,...,book_title,author,rating_value,rating_count,review_count,page,year,title,book_popularity,author_popularity
0,After We Collided,5.0,16193,R,"[Drama, Romance]",2020-10-23,NaN,"[sequel, birthday, boyfriend girlfriend sex, b...",NaN,422899.0,...,After We Collided,Anna Todd,3.78,92534.0,5490.0,674.0,2013.0,After We Collided,0.00,0.2159
1,The Godfather,9.2,1613156,R,"[Crime, Drama]",1972-03-24,100.0,"[crime family, mafia, patriarch, organized cri...",6000000.0,302393.0,...,The Godfather,Mario Puzo,4.36,343457.0,8930.0,448.0,1969.0,The Godfather,0.16,0.0699
2,Harry Potter and the Sorcerer's Stone,7.6,654081,PG,"[Adventure, Family, Fantasy]",2001-11-16,64.0,"[magic, wizard, school of magic, based on nove...",125000000.0,90294621.0,...,Harry Potter and the Sorcerer's Stone,J.K. Rowling,4.48,7292896.0,115556.0,309.0,1997.0,Harry Potter and the Sorcerer's Stone,0.14,0.0149
3,Harry Potter and the Sorcerer's Stone,7.6,654081,PG,"[Adventure, Family, Fantasy]",2001-11-16,64.0,"[magic, wizard, school of magic, based on nove...",125000000.0,90294621.0,...,Harry Potter and the Sorcerer's Stone,J.K. Rowling,4.48,7297366.0,115643.0,309.0,1997.0,Harry Potter and the Sorcerer's Stone,0.14,0.0149
4,Little Women,7.8,140641,PG,"[Drama, Romance]",2019-12-25,91.0,"[aspiring writer, poverty, women's rights, dea...",40000000.0,16755310.0,...,Little Women,Louisa May Alcott,4.09,1717984.0,31224.0,449.0,1868.0,Little Women,0.00,0.0151

In [436]:
all_df = all_data_df.drop(columns=['rating','vote','metascore','keywords',\
                                       'link_d','link_s','link_w',\
                                   'book_title','rating_value','rating_count','review_count','title'])
all_df.rename(columns = {'certificate':'MPAA'},inplace=True)

In [437]:
all_df = all_df.dropna().reset_index()

In [438]:
all_df

,index,movie_title,MPAA,genre,release_date,budget,opening_weekend_usa,gross_usa,gross_world,runtime,...,writer,star,distributor,language,country,author,page,year,book_popularity,author_popularity
0,1,The Godfather,R,"[Crime, Drama]",1972-03-24,6000000.0,302393.0,134966411.0,2.461210e+08,120.0,...,"[Mario Puzo, Francis Ford Coppola]","[Marlon Brando, Al Pacino, James Caan]",ParamountPictures,"[English, Italian, Latin]",[USA],Mario Puzo,448.0,1969.0,0.16,0.0699
1,2,Harry Potter and the Sorcerer's Stone,PG,"[Adventure, Family, Fantasy]",2001-11-16,125000000.0,90294621.0,318087620.0,1.006918e+09,120.0,...,"[J.K. Rowling, Steve Kloves]","[Daniel Radcliffe, Rupert Grint, Richard Harris]",WarnerBros.,[English],"[UK, USA]",J.K. Rowling,309.0,1997.0,0.14,0.0149
2,3,Harry Potter and the Sorcerer's Stone,PG,"[Adventure, Family, Fantasy]",2001-11-16,125000000.0,90294621.0,318087620.0,1.006918e+09,120.0,...,"[J.K. Rowling, Steve Kloves]","[Daniel Radcliffe, Rupert Grint, Richard Harris]",WarnerBros.,[English],"[UK, USA]",J.K. Rowling,309.0,1997.0,0.14,0.0149
3,4,Little Women,PG,"[Drama, Romance]",2019-12-25,40000000.0,16755310.0,108101214.0,2.166012e+08,120.0,...,"[Greta Gerwig, Louisa May Alcott]","[Saoirse Ronan, Emma Watson, Florence Pugh]",ColumbiaPictures,"[English, French]",[USA],Louisa May Alcott,449.0,1868.0,0.00,0.0151
4,5,Little Women,PG,"[Drama, Romance]",2019-12-25,40000000.0,16755310.0,108101214.0,2.166012e+08,120.0,...,"[Greta Gerwig, Louisa May Alcott]","[Saoirse Ronan, Emma Watson, Florence Pugh]",ColumbiaPictures,"[English, French]",[USA],Louisa May Alcott,449.0,1868.0,0.07,0.0159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829,1552,Never Die Alone,R,"[Action, Crime, Drama]",2004-03-26,3000000.0,3089993.0,5645298.0,5.923000e+06,60.0,...,"[Donald Goines, James Gibson]","[DMX, David Arquette, Michael Ealy]",BloodlineFilms,[English],[USA],Lisa Jackson,480.0,2015.0,0.26,0.0093
830,1554,Radio Free Albemuth,R,"[Drama, Sci-Fi]",2014-06-27,3600000.0,5553.0,9365.0,9.365000e+03,60.0,...,"[John Alan Simon, Philip K. Dick]","[Shea Whigham, Jonathan Scarfe, Michael Rothhaar]",OpenPictures,[English],[USA],Philip K. Dick,214.0,1985.0,0.00,0.0039
831,1559,The Golden Bowl,R,"[Drama, Romance]",2001-05-25,15000000.0,90170.0,3050532.0,5.753678e+06,120.0,...,"[Henry James, Ruth Prawer Jhabvala]","[Uma Thurman, Jeremy Northam, Kate Beckinsale]",MerchantIvoryProductions,[English],"[USA, France, UK]",Henry James,591.0,1904.0,0.36,0.7878
832,1567,The Good Mother,R,"[Drama, Romance]",1988-11-04,14000000.0,1804288.0,4764606.0,4.764606e+06,60.0,...,"[Michael Bortman, Sue Miller]","[Diane Keaton, Liam Neeson, Jason Robards]",TouchstonePictures,[English],[USA],Sue Miller,320.0,1986.0,1.56,0.2796
833,1568,Finders Keepers,R,[Comedy],1984-05-18,7000000.0,865207.0,1467396.0,1.467396e+06,60.0,...,"[Charles Dennis, Charles Dennis, 2 more credits]","[Michael O'Keefe, Beverly D'Angelo, Louis Goss...",CBSTheatricalFilms,[English],"[UK, USA]",Stephen King,434.0,2015.0,0.12,0.7481

In [440]:
all_df.shape

(834, 21)

In [441]:
all_df.columns

Index(['index', 'movie_title', 'MPAA', 'genre', 'release_date', 'budget',
       'opening_weekend_usa', 'gross_usa', 'gross_world', 'runtime',
       'director', 'writer', 'star', 'distributor', 'language', 'country',
       'author', 'page', 'year', 'book_popularity', 'author_popularity'],
      dtype='object')

## Clean each column

### Start with single lable categorical variables
### 1. MPAA rating
Find the distribution and keep only the top frequent categories

In [442]:
all_df.MPAA.unique()

array(['R', 'PG', 'PG-13', 'G', 'Passed', 'Approved', 'M/PG', 'Not',
       'Unrated'], dtype=object)

In [443]:
all_df.MPAA.value_counts()

R           347
PG-13       257
PG          186
G            33
Approved      4
Passed        4
M/PG          1
Unrated       1
Not           1
Name: MPAA, dtype: int64

In [446]:
# Keep only the top 3
MPAA_discard = ['G','Passed','Not','X','M/PG','Approved','NC-17','Unrated']
all_df.MPAA.replace(MPAA_discard,'Other',inplace=True)

In [447]:
all_df.MPAA.value_counts()

R        347
PG-13    257
PG       186
Other     44
Name: MPAA, dtype: int64

### 2. distributor

In [396]:
movie_df.distributor.value_counts().head(5)

WarnerBros.            72
ParamountPictures      59
ColumbiaPictures       54
UniversalPictures      49
TwentiethCenturyFox    41
Name: distributor, dtype: int64

In [408]:
# Keep only the top 3
distributor_keep = ['WarnerBros.','ParamountPictures','ColumbiaPictures','UniversalPictures',\
             'TwentiethCenturyFox','TwentiethCenturyFox']
distributor_discard = list(set(movie_df.distributor.unique()).difference(set(MPAA_keep)))
movie_df.distributor.replace(distributor_discard,'Other',inplace=True)

In [409]:
movie_df.distributor.value_counts()

Other                  685
WarnerBros.             72
ParamountPictures       59
ColumbiaPictures        54
UniversalPictures       49
TwentiethCenturyFox     41
Name: distributor, dtype: int64

### Multilabel categorical labels
### 3. genre
Find the top frequent genres and convert the column from list to set in preparation for `MultiLabelBinarizer()`.

In [361]:
# Find the top 10 genre
genre_all = []
for row in movie_df.genre:
    genre_all += row
genre_count = []
for genre in set(genre_all):
    genre_count.append({'genre':genre,'count':genre_all.count(genre)})
sorted(genre_count, key = lambda i: i['count'],reverse=True)

[{'genre': 'Drama', 'count': 630},
 {'genre': 'Comedy', 'count': 234},
 {'genre': 'Adventure', 'count': 232},
 {'genre': 'Action', 'count': 207},
 {'genre': 'Romance', 'count': 197},
 {'genre': 'Crime', 'count': 185},
 {'genre': 'Thriller', 'count': 170},
 {'genre': 'Family', 'count': 123},
 {'genre': 'Mystery', 'count': 117},
 {'genre': 'Fantasy', 'count': 116},
 {'genre': 'Horror', 'count': 75},
 {'genre': 'Sci-Fi', 'count': 74},
 {'genre': 'Animation', 'count': 43},
 {'genre': 'Biography', 'count': 37},
 {'genre': 'History', 'count': 26},
 {'genre': 'War', 'count': 25},
 {'genre': 'Music', 'count': 13},
 {'genre': 'Sport', 'count': 11},
 {'genre': 'Western', 'count': 8},
 {'genre': 'Musical', 'count': 3},
 {'genre': 'Film-Noir', 'count': 2}]

In [362]:
# Keep only the top 10 genre
# The rest will go to "Other"
genre_list = ['Drama','Adventure','Comedy','Action','Crime','Romance','Thriller',\
              'Mystery','Family','Fantasy']

In [363]:
movie_df['genre']= movie_df.genre.apply(lambda x:\
                            [genre if genre in genre_list else 'Other'for genre in x])

In [324]:
# movie_df.head()

In [372]:
# Convert genre column from list to set
movie_df['genre'] = movie_df.genre.apply(lambda x: set(x))
movie_df[['genre']]

                             genre
1                   {Crime, Drama}
2     {Fantasy, Family, Adventure}
3               {Thriller, Action}
4       {Drama, Adventure, Action}
5     {Fantasy, Adventure, Action}
...                            ...
1968       {Mystery, Crime, Drama}
1973              {Drama, Romance}
1988              {Drama, Romance}
1989                      {Comedy}
1990             {Thriller, Other}

[960 rows x 1 columns]

## Train test split

In [410]:
# Train test split
from sklearn.model_selection import train_test_split

X= movie_df[['movie_title', 'MPAA', 'genre', 'release_date', 'budget','runtime',
       'director', 'writer', 'star', 'distributor', 'language', 'country']]

y = movie_df['opening_weekend_usa']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

## Preprocessing


### A. Categorical variable preprocessing

### a. OneHotEncoder: for column with single object

#### Transform train set

In [374]:
# Categorical varibale: MPAA
cat_variables = ['MPAA']
X_train_cat = X_train[cat_variables]

In [375]:
# Instantiate a OneHotEncoder object
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse=False, drop='first')
ohe.fit(X_train_cat)
cats = ohe.transform(X_train_cat)

In [376]:
# Create the categorical dataframe
columns = ohe.get_feature_names(cat_variables)
X_train_cat_df = pd.DataFrame(cats, columns = columns, index = X_train_cat.index)
X_train_cat_df.head()

      MPAA_PG  MPAA_PG-13  MPAA_R
1802      0.0         0.0     1.0
226       0.0         0.0     1.0
61        0.0         1.0     0.0
1140      0.0         1.0     0.0
1245      0.0         1.0     0.0

In [411]:
# Test MPAA, distributor
cat_variables = ['MPAA','distributor']
X_train_cat = X_train[cat_variables]

In [412]:
# Instantiate a OneHotEncoder object
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse=False, drop='first')
ohe.fit(X_train_cat)
cats = ohe.transform(X_train_cat)

In [413]:
# Create the categorical dataframe
columns = ohe.get_feature_names(cat_variables)
X_train_cat_df = pd.DataFrame(cats, columns = columns, index = X_train_cat.index)
X_train_cat_df.head()

,MPAA_PG,MPAA_PG-13,MPAA_R,distributor_Other,distributor_ParamountPictures,distributor_TwentiethCenturyFox,distributor_UniversalPictures,distributor_WarnerBros.
1968,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
229,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
653,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
1489,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

#### Repeat transformations for testing set

In [377]:
# Repeat transformation for testing set

### b. MultiLabelBinarizer: for column with list object

#### Transform train set

In [369]:
mlb = MultiLabelBinarizer()

In [387]:
# Test on genre column first
multilabel_variables = ['genre']
X_train_cats = X_train[multilabel_variables]
X_train_cats_df = pd.DataFrame(mlb.fit_transform(X_train_cats['genre']),\
                               columns=mlb.classes_, index=X_train_cats_df.index)
X_train_cats_df.drop(columns='Other',inplace=True)

In [388]:
X_train_cats_df

,Action,Adventure,Comedy,Crime,Drama,Family,Fantasy,Mystery,Romance,Thriller
73,0,0,0,1,0,0,0,0,0,1
128,0,0,1,1,1,0,0,0,0,0
64,0,0,0,0,1,0,0,0,1,0
1044,0,0,0,0,1,0,0,0,0,1
598,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
50,1,0,0,0,1,0,0,1,0,0
1307,1,1,0,0,1,0,0,0,0,0
1471,0,0,0,0,1,0,0,0,0,0
1289,0,0,0,0,1,0,0,0,0,1
479,0,1,0,0,0,0,1,0,0,0

### OneHotEncoder with list item (e.g. genre)

In [158]:
# Example
d = {'A': [[5,7], [3, 4, 5], [2], [1,2,3,4]]}
df = pd.DataFrame(data=d)
df

              A
0        [5, 7]
1     [3, 4, 5]
2           [2]
3  [1, 2, 3, 4]

In [91]:
# Use MultiLabelBinarizer
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
df_ohe = pd.DataFrame(mlb.fit_transform(df['A']),columns = mlb.classes_, index=df.index)
df_ohe

   1  2  3  4  5  7
0  0  0  0  0  1  1
1  0  0  1  1  1  0
2  0  1  0  0  0  0
3  1  1  1  1  0  0

In [195]:
# Test on genre
cat_variable = ['genre']
X_train_cat = X_train[cat_variable]

In [199]:
X_train_cat

                             genre
230               [Drama, History]
22         [Crime, Drama, Mystery]
1226      [Crime, Drama, Thriller]
1326                       [Drama]
501      [Drama, Fantasy, Mystery]
...                            ...
1361  [Action, Biography, Western]
402     [Animation, Drama, Family]
436   [Action, Adventure, Fantasy]
901        [Crime, Drama, Mystery]
171               [Drama, Western]

[768 rows x 1 columns]

In [269]:
X_train_cat_test = X_train_cat.iloc[:3,:].copy()
X_train_cat_test

                         genre
230           [Drama, History]
22     [Crime, Drama, Mystery]
1226  [Crime, Drama, Thriller]

In [243]:
X_train_cat_set = X_train_cat.copy()

In [144]:
def list_set(my_list):
    return set(my_list)

<ipython-input-289-bae5efa517bb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_cat['genre_clean']= X_train_cat_set.genre.apply(lambda x:\

In [256]:
X_train_cat_set

                             genre                   genre_clean
230               [Drama, History]                [Drama, Other]
22         [Crime, Drama, Mystery]       [Crime, Drama, Mystery]
1226      [Crime, Drama, Thriller]      [Crime, Drama, Thriller]
1326                       [Drama]                       [Drama]
501      [Drama, Fantasy, Mystery]     [Drama, Fantasy, Mystery]
...                            ...                           ...
1361  [Action, Biography, Western]        [Action, Other, Other]
402     [Animation, Drama, Family]        [Other, Drama, Family]
436   [Action, Adventure, Fantasy]  [Action, Adventure, Fantasy]
901        [Crime, Drama, Mystery]       [Crime, Drama, Mystery]
171               [Drama, Western]                [Drama, Other]

[768 rows x 2 columns]

                       genre_clean
230                 {Other, Drama}
22         {Mystery, Crime, Drama}
1226      {Crime, Thriller, Drama}
1326                       {Drama}
501      {Mystery, Drama, Fantasy}
...                            ...
1361               {Other, Action}
402         {Drama, Other, Family}
436   {Fantasy, Adventure, Action}
901        {Mystery, Crime, Drama}
171                 {Other, Drama}

[768 rows x 1 columns]

In [266]:
X_train_cat_df = pd.DataFrame(mlb.fit_transform(X_train_cat_set['genre_clean']),\
                              columns=mlb.classes_,index=X_train_cat_set.index)
X_train_cat_df.drop(columns='Other',inplace=True)

In [267]:
X_train_cat_df

,Action,Adventure,Comedy,Crime,Drama,Family,Fantasy,Mystery,Romance,Thriller
230,0,0,0,0,1,0,0,0,0,0
22,0,0,0,1,1,0,0,1,0,0
1226,0,0,0,1,1,0,0,0,0,1
1326,0,0,0,0,1,0,0,0,0,0
501,0,0,0,0,1,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...
1361,1,0,0,0,0,0,0,0,0,0
402,0,0,0,0,1,1,0,0,0,0
436,1,1,0,0,0,0,1,0,0,0
901,0,0,0,1,1,0,0,1,0,0
171,0,0,0,0,1,0,0,0,0,0

In [262]:
len(mlb.classes_),mlb.classes_

(11,
 array(['Action', 'Adventure', 'Comedy', 'Crime', 'Drama', 'Family',
        'Fantasy', 'Mystery', 'Other', 'Romance', 'Thriller'], dtype=object))

In [263]:
X_train_cat_df.sum(axis=0).sort_values(ascending=False)

Drama        491
Other        224
Adventure    191
Comedy       188
Action       175
Crime        155
Romance      152
Thriller     137
Mystery       98
Family        98
Fantasy       92
dtype: int64