In [ ]:
import sys
sys.path.append('/Users/katiehuang/Documents/metis/projects/onl_ds5_project_2/py')
from loadpage import *
import importlib
from fictiondb import *

In [1]:
from bs4 import BeautifulSoup
import requests
import time, os
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains

In [2]:
chromedriver = "/Applications/chromedriver" # path to the chromedriver executable
os.environ["webdriver.chrome.driver"] = chromedriver

In [3]:
%run -i '../py/fictiondb.py'

In [4]:
driver.get("https://www.google.com")

In [6]:
author = "The Godfater"
search_bar = driver.find_element_by_xpath("//input[@name='q'][@type='text']")
search_bar.clear()
search_bar.send_keys(author)
search_bar.send_keys(Keys.RETURN)

In [13]:
results = driver.find_elements_by_id("result-stats")
results

In [19]:
for element in driver.find_elements_by_xpath("//div[@id='result-stats']"):
    print(int(element.text.split()[1].replace(',','')))

53100000

In [21]:
import pandas as pd
release_date = pd.to_datetime('2001-01-27')

In [22]:
release_date

Timestamp('2001-01-27 00:00:00')

In [27]:
combined_df = pd.read_pickle('../dump/combined_data')
combined_df

,movie_title,rating,vote,certificate,genre,release_date,metascore,keywords,budget,opening_weekend_usa,...,distributor,language,country,book_title,author,rating_value,rating_count,review_count,page,year
0,After We Collided,5.0,16193,R,"[Drama, Romance]",2020-10-23,NaN,"[sequel, birthday, boyfriend girlfriend sex, b...",NaN,422899.0,...,CalMaple,"[English, Chinese]",[USA],After We Collided,Anna Todd,3.78,92534.0,5490.0,674.0,2013.0
1,The Godfather,9.2,1613156,R,"[Crime, Drama]",1972-03-24,100.0,"[crime family, mafia, patriarch, organized cri...",6000000.0,302393.0,...,ParamountPictures,"[English, Italian, Latin]",[USA],The Godfather,Mario Puzo,4.36,343457.0,8930.0,448.0,1969.0
2,Harry Potter and the Sorcerer's Stone,7.6,654081,PG,"[Adventure, Family, Fantasy]",2001-11-16,64.0,"[magic, wizard, school of magic, based on nove...",125000000.0,90294621.0,...,WarnerBros.,[English],"[UK, USA]",Harry Potter and the Sorcerer's Stone,J.K. Rowling,4.48,7292896.0,115556.0,309.0,1997.0
3,Harry Potter and the Sorcerer's Stone,7.6,654081,PG,"[Adventure, Family, Fantasy]",2001-11-16,64.0,"[magic, wizard, school of magic, based on nove...",125000000.0,90294621.0,...,WarnerBros.,[English],"[UK, USA]",Harry Potter and the Sorcerer's Stone,J.K. Rowling,4.48,7297366.0,115643.0,309.0,1997.0
4,Little Women,7.8,140641,PG,"[Drama, Romance]",2019-12-25,91.0,"[aspiring writer, poverty, women's rights, dea...",40000000.0,16755310.0,...,ColumbiaPictures,"[English, French]",[USA],Little Women,Louisa May Alcott,4.09,1717984.0,31224.0,449.0,1868.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1237,From the Terrace,6.7,2438,Passed,"[Drama, Romance]",1960-09-09,NaN,"[mother son relationship, wilmington delaware,...",NaN,NaN,...,Linebrook,[English],[USA],From the Terrace,John O'Hara,3.92,409.0,33.0,981.0,1958.0
1238,Anne of Green Gables,7.0,1113,Passed,"[Comedy, Drama, Family]",1934-11-23,NaN,"[character name as title, anne of green gables...",226000.0,NaN,...,RKORadioPictures,[English],[USA],Anne of Green Gables,L.M. Montgomery,4.26,750685.0,23957.0,320.0,1908.0
1239,Odds Against Tomorrow,7.4,3780,Approved,"[Crime, Drama, Thriller]",1959-11-01,NaN,"[new york city, heist, bank robbery, caper, ne...",NaN,NaN,...,HarBelProductions,[English],[USA],Odds Against Tomorrow,Nathaniel Rich,3.39,2242.0,307.0,304.0,2013.0
1240,Once Is Not Enough,4.6,629,R,"[Drama, Romance]",1975-06-20,NaN,"[older man younger woman relationship, age dif...",NaN,NaN,...,AriesProductions,[English],[USA],Once Is Not Enough,Jacqueline Susann,3.72,7769.0,184.0,467.0,1973.0
1241,Unidentified Flying Oddball,5.3,992,G,"[Comedy, Family, Adventure]",1979-07-26,66.0,"[time travel, time travel into the past, refer...",NaN,NaN,...,WaltDisneyProductions,[English],[USA],Unidentified Flying Oddball,Vic Crume,2.74,19.0,3.0,NaN,1979.0

In [43]:
essential_df = combined_df[['movie_title','author']].copy()

In [44]:
essential_df['date'] = combined_df.release_date.dt.strftime('%Y-%m-%d')
essential_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1242 entries, 0 to 1241
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie_title  1242 non-null   object
 1   author       1242 non-null   object
 2   date         1242 non-null   object
dtypes: object(3)
memory usage: 38.8+ KB

In [81]:
essential_df

                                movie_title             author        date
0                         After We Collided          Anna Todd  2020-10-23
1                             The Godfather         Mario Puzo  1972-03-24
2     Harry Potter and the Sorcerer's Stone       J.K. Rowling  2001-11-16
3     Harry Potter and the Sorcerer's Stone       J.K. Rowling  2001-11-16
4                              Little Women  Louisa May Alcott  2019-12-25
...                                     ...                ...         ...
1237                       From the Terrace        John O'Hara  1960-09-09
1238                   Anne of Green Gables    L.M. Montgomery  1934-11-23
1239                  Odds Against Tomorrow     Nathaniel Rich  1959-11-01
1240                     Once Is Not Enough  Jacqueline Susann  1975-06-20
1241            Unidentified Flying Oddball          Vic Crume  1979-07-26

[1242 rows x 3 columns]

In [82]:
essential_df = essential_df.drop_duplicates(subset=['movie_title','date']).copy()

In [85]:
essential_df.head(20)

                              movie_title              author        date
0                       After We Collided           Anna Todd  2020-10-23
1                           The Godfather          Mario Puzo  1972-03-24
2   Harry Potter and the Sorcerer's Stone        J.K. Rowling  2001-11-16
4                            Little Women   Louisa May Alcott  2019-12-25
5                            Little Women   Louisa May Alcott  1994-12-25
6                            Little Women   Louisa May Alcott  1949-04-01
7                            Little Women   Louisa May Alcott  1933-11-24
8                        Ready Player One        Ernest Cline  2018-03-29
9                       The Invisible Man          H.G. Wells  2020-02-28
10                      The Invisible Man          H.G. Wells  1933-11-13
11                            Jojo Rabbit       Taika Waititi  2019-11-08
12                           Forrest Gump       Winston Groom  1994-07-06
13                                The Dry         Jane Harper  2021-01-01
14                            The Witches          Roald Dahl  2020-10-22
15                            The Witches          Roald Dahl  1990-08-24
16                           Doctor Sleep        Stephen King  2019-11-08
17                           The Prestige  Christopher Priest  2006-10-20
18        The Girl with the Dragon Tattoo       Stieg Larsson  2011-12-21
19                             Fight Club     Chuck Palahniuk  1999-10-15
20    Harry Potter and the Goblet of Fire        J.K. Rowling  2005-11-18

In [83]:
title_list = list(essential_df.movie_title)
author_list = list(essential_df.author)
date_list = list(essential_df.date)

In [84]:
lng = len(title_list)
lng

1199

In [91]:
%run -i '../py/fictiondb.py'

In [113]:
book_history = []
for i in range(lng):
    book = title_list[i]
    author = author_list[i]
    date = date_list[i]
    
    info = book_google(book,author,date)
    book_history.append(info)
    print(i,book)
book_history

Jojo Rabbit Taika Waititi before:2019-11-08
78300
novel recommendation before:2019-11-08
59900000
Taika Waititi before:2019-11-08
1320000
fiction author before:2019-11-08
170000000
{'title': 'Jojo Rabbit', 'release_date': '2019-11-08', 'title_search': 78300, 'search_fiction_book': 59900000, 'book_popularity': 0.0, 'author_search': 1320000, 'search_fiction_author': 170000000, 'author_popularity': 0.01}
Forrest Gump Winston Groom before:1994-07-06
94
novel recommendation before:1994-07-06
12000
Winston Groom before:1994-07-06
2850
fiction author before:1994-07-06
119000
{'title': 'Forrest Gump', 'release_date': '1994-07-06', 'title_search': 94, 'search_fiction_book': 12000, 'book_popularity': 0.01, 'author_search': 2850, 'search_fiction_author': 119000, 'author_popularity': 0.02}
The Dry Jane Harper before:2021-01-01
4180000
novel recommendation before:2021-01-01
75900000
Jane Harper before:2021-01-01
52500000
fiction author before:2021-01-01
250000000
{'title': 'The Dry', 'release_date': '2021-01-01', 'title_search': 4180000, 'search_fiction_book': 75900000, 'book_popularity': 0.06, 'author_search': 52500000, 'search_fiction_author': 250000000, 'author_popularity': 0.21}
The Witches Roald Dahl before:2020-10-22
255000
novel recommendation before:2020-10-22
82300000
Roald Dahl before:2020-10-22
5000000
fiction author before:2020-10-22
188000000
{'title': 'The Witches', 'release_date': '2020-10-22', 'title_search': 255000, 'search_fiction_book': 82300000, 'book_popularity': 0.0, 'author_search': 5000000, 'search_fiction_author': 188000000, 'author_popularity': 0.03}
The Witches Roald Dahl before:1990-08-24
2270
novel recommendation before:1990-08-24
8790
Roald Dahl before:1990-08-24
9900
fiction author before:1990-08-24
82600
{'title': 'The Witches', 'release_date': '1990-08-24', 'title_search': 2270, 'search_fiction_book': 8790, 'book_popularity': 0.26, 'author_search': 9900, 'search_fiction_author': 82600, 'author_popularity': 0.12}
Doctor Sleep Stephen King before:2019-11-08
10600000
novel recommendation before:2019-11-08
59900000
Stephen King before:2019-11-08
138000000
fiction author before:2019-11-08
170000000
{'title': 'Doctor Sleep', 'release_date': '2019-11-08', 'title_search': 10600000, 'search_fiction_book': 59900000, 'book_popularity': 0.18, 'author_search': 138000000, 'search_fiction_author': 170000000, 'author_popularity': 0.81}

[{'title': 'Jojo Rabbit',
  'release_date': '2019-11-08',
  'title_search': 78300,
  'search_fiction_book': 59900000,
  'book_popularity': 0.0,
  'author_search': 1320000,
  'search_fiction_author': 170000000,
  'author_popularity': 0.01},
 {'title': 'Forrest Gump',
  'release_date': '1994-07-06',
  'title_search': 94,
  'search_fiction_book': 12000,
  'book_popularity': 0.01,
  'author_search': 2850,
  'search_fiction_author': 119000,
  'author_popularity': 0.02},
 {'title': 'The Dry',
  'release_date': '2021-01-01',
  'title_search': 4180000,
  'search_fiction_book': 75900000,
  'book_popularity': 0.06,
  'author_search': 52500000,
  'search_fiction_author': 250000000,
  'author_popularity': 0.21},
 {'title': 'The Witches',
  'release_date': '2020-10-22',
  'title_search': 255000,
  'search_fiction_book': 82300000,
  'book_popularity': 0.0,
  'author_search': 5000000,
  'search_fiction_author': 188000000,
  'author_popularity': 0.03},
 {'title': 'The Witches',
  'release_date': '1990-08-24',
  'title_search': 2270,
  'search_fiction_book': 8790,
  'book_popularity': 0.26,
  'author_search': 9900,
  'search_fiction_author': 82600,
  'author_popularity': 0.12},
 {'title': 'Doctor Sleep',
  'release_date': '2019-11-08',
  'title_search': 10600000,
  'search_fiction_book': 59900000,
  'book_popularity': 0.18,
  'author_search': 138000000,
  'search_fiction_author': 170000000,
  'author_popularity': 0.81}]

In [115]:
def google(keyword,date):
    driver.get("https://www.google.com")
    search_bar = driver.find_element_by_xpath("//input[@name='q'][@type='text']")
    search_bar.clear()
    search_bar.send_keys(keyword + ' before:' + date)
#     print(keyword + ' before:' + date)
    search_bar.send_keys(Keys.RETURN)
    time.sleep(2)
    
    # Find search stats before the given date
    try:
        for element in driver.find_elements_by_xpath("//div[@id='result-stats']"):
            result = (int(element.text.split()[1].replace(',','')))
    except:
        result = np.nan
        pass
#     print(result)
    return result

In [114]:
# Added sleep time in between actions
def book_google(book,author,date):
    
    title = book
    date = date
    
    book_dict={}
    
    headers = ["title","release_date","title_search","search_fiction_book","book_popularity",\
               "author_search","search_fiction_author","author_popularity"]

    book_result = google(book + ' ' + author, date)
    novel_result = google("novel recommendation", date)
    book_pop = round(book_result / novel_result,2)
    
    author_result = google(author,date)
    authors_result = google("fiction author", date)
    author_pop = round(author_result / authors_result,4)
    
    book_dict = dict(zip(headers,[title,date,book_result,novel_result,book_pop,author_result,authors_result,author_pop]))
    

    return book_dict

In [57]:
round((5400000/600000000)*100,2)

0.9